@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #14274e;
  min-height: 100vh;
}
.fa-github {
  color: #9ba4b4;
  font-size: 90px;
  margin-bottom: 1rem;
}
form {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  position: relative;
}
input {
  width: 90%;
  background-color: #394867;
  border: 0;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 10px;
  color: #f1f6f9;
  font-family: inherit;
}
input:focus {
  outline: 0;
}
input::placeholder {
  color: #9ba4b4;
  font-weight: 400;
}
button {
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  color: #f1f6f9;
  background-color: transparent;
  border: 0;
  right: 6%;
  font-size: 20px;
  cursor: pointer;
}

.card {
  max-width: 800px;
  background-color: #394867;
  color: #f1f6f9;
  padding: 3rem;
  margin: 1.5rem;
  border-radius: 5px;
  display: flex;
}
.card h1 {
  text-align: center;
}
.avatar {
  border-radius: 50%;
  border: 10px solid #14274e;
  width: 180px;
}
.user-info {
  margin-left: 2rem;
}
.user-info h2 {
  margin-top: 0;
}
.user-info ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}
.user-info ul li {
  display: flex;
  align-items: center;
}
.user-info ul li strong {
  font-weight: 400;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.repo {
  text-decoration: none;
  color: #fff;
  background-color: #14274e;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}
